<a href="https://colab.research.google.com/github/val93s/data_wrangling/blob/main/Copy_of_6_2_3_Merging_Files_in_DataFrames_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Guided Activity: Merging Client Data

Typically, the bank does not keep client information with their personal financial information. However, for analysis purposes, we will need to reveal which bank accounts belong to which client. 

In this activity, you will: 
* Read each CSV file into a DataFrame.
* Use the `.merge()` function to perform four different types of joins. 
* Determine which `join` is appropriate for our purposes.

**Step 1: Import Pandas as pd.**

In [ ]:
import pandas as pd

**Step 2: Read each file into a separate DataFrame.** 

Read ***ClientData_1.csv*** into a DataFrame with a name of your choice. Do the same for ***ClientData_2.csv***.

In [ ]:
client_data_1 = pd.read_csv('ClientData_1.csv')
client_data_2 = pd.read_csv('ClientData_2.csv')

In [ ]:
client_data_1.head()

,Account_Num,First_Name,Last_Name,Email,CC_Num,Current_Bal
0,19-9089842,Melli,Devote,mdevote0@globo.com,2.018020e+14,$3.68B
1,14-3382564,Paulo,Freiberg,pfreiberg1@usa.gov,6.334730e+17,$42.28M
2,21-9295986,Alain,Gay,agay2@wix.com,3.553910e+15,$2.59B
3,78-7512467,Tore,Subhan,tsubhan3@ibm.com,5.893750e+18,$193.2M
4,90-5975226,Damien,Klais,dklais4@tinypic.com,6.706640e+18,$187.49M

In [ ]:
client_data_1.shape

(419, 6)

In [ ]:
client_data_2.shape

(356, 6)

In [ ]:
client_data_2.head()

,Account_Num,First_Name,Last_Name,Email,CC_Num,Current_Bal
0,88-067-8282,Alvy,Benech,abenechgg@unicef.org,3.540000e+15,$4.97B
1,87-164-1431,Adler,Ferney,aferneygh@networksolutions.com,3.560000e+15,$96.78M
2,45-727-7483,Colet,Bartaloni,cbartalonigi@ted.com,5.610000e+16,$68.78M
3,35-250-7814,Jennie,Leddie,jleddiegj@wufoo.com,3.530000e+15,$404.02M
4,32-197-8907,Alexandro,Blanning,ablanninggk@toplist.cz,4.900000e+15,$710.31M

**Step 3: Create a new variable for output.** 

Create a new variable of your choice that contains the merge function: `pd.merge(df1, df2, on='')`. Merge on the `Account_Num` column.

In [ ]:
client_data_3 = pd.merge(client_data_1, client_data_2, on='Account_Num')

**Step 4: Print the output.**

Use the print function on your output variable to ensure the join was completed.

In [ ]:
client_data_3.head()

Empty DataFrame
Columns: [Account_Num, First_Name_x, Last_Name_x, Email_x, CC_Num_x, Current_Bal_x, First_Name_y, Last_Name_y, Email_y, CC_Num_y, Current_Bal_y]
Index: []

**Question 1:** What is the output and why did it happen?

**Answer:** *Your answer here*

**Step 5: Create an inner join.**

Re-write your merge statement to include `pd.merge(df1, df2, on='', how='inner')`. Print the output again.

In [ ]:
client_data_3 = pd.merge(client_data_1, client_data_2, on='Account_Num', how='inner')

In [ ]:
client_data_3.head()

Empty DataFrame
Columns: [Account_Num, First_Name_x, Last_Name_x, Email_x, CC_Num_x, Current_Bal_x, First_Name_y, Last_Name_y, Email_y, CC_Num_y, Current_Bal_y]
Index: []

**Question 2:** Is this the same or different from the output created in step 4?

**Answer:** *Your answer here*

*The default type of join for `pd.merge()` is an inner join. If you don't specify a type of join, Pandas will assume you meant an inner join.*

**Step 6: Create a left outer join.** 

Re-write your merge statement to include `how='left'`. Print the output again. 

**Question 3:** What output do you expect?

**Answer:** *Your answer here*

In [ ]:
client_data_3 = pd.merge(client_data_1, client_data_2, on='Account_Num', how='right')

In [ ]:
client_data_3.head()

,Account_Num,First_Name_x,Last_Name_x,Email_x,CC_Num_x,Current_Bal_x,First_Name_y,Last_Name_y,Email_y,CC_Num_y,Current_Bal_y
0,88-067-8282,NaN,NaN,NaN,NaN,NaN,Alvy,Benech,abenechgg@unicef.org,3.540000e+15,$4.97B
1,87-164-1431,NaN,NaN,NaN,NaN,NaN,Adler,Ferney,aferneygh@networksolutions.com,3.560000e+15,$96.78M
2,45-727-7483,NaN,NaN,NaN,NaN,NaN,Colet,Bartaloni,cbartalonigi@ted.com,5.610000e+16,$68.78M
3,35-250-7814,NaN,NaN,NaN,NaN,NaN,Jennie,Leddie,jleddiegj@wufoo.com,3.530000e+15,$404.02M
4,32-197-8907,NaN,NaN,NaN,NaN,NaN,Alexandro,Blanning,ablanninggk@toplist.cz,4.900000e+15,$710.31M

In [ ]:
client_data_3.shape

(356, 11)

**Question 4:** Why are there NaN values here?

**Answer:** *Your answer here*

**Step 7: Create a full outer join.**

Re-write your merge statement to include `how='outer'`. Print the output again.

In [ ]:
client_data_3 = pd.merge(client_data_1, client_data_2, on='Account_Num', how='outer')

**Question 5:** Which join produces a file that shows us the client information we need to know?

In [ ]:
client_data_3.shape

(775, 11)

In [ ]:
client_data_3.tail()

,Account_Num,First_Name_x,Last_Name_x,Email_x,CC_Num_x,Current_Bal_x,First_Name_y,Last_Name_y,Email_y,CC_Num_y,Current_Bal_y
770,56-195-8939,NaN,NaN,NaN,NaN,NaN,Anthiathia,Compton,acomptonrm@digg.com,6.380000e+15,$26.26M
771,43-901-0427,NaN,NaN,NaN,NaN,NaN,Ros,Caldayrou,rcaldayrouro@apache.org,3.740000e+14,$111.6M
772,09-314-1492,NaN,NaN,NaN,NaN,NaN,Janetta,Mc Gorley,jmcgorleyrp@purevolume.com,3.550000e+15,$526.1M
773,43-216-7462,NaN,NaN,NaN,NaN,NaN,Leshia,Bow,lbowrq@youku.com,3.570000e+15,$1.29B
774,49-914-6463,NaN,NaN,NaN,NaN,NaN,Alex,Bocke,abockerr@phpbb.com,3.750000e+14,$610.36M

**Answer:** *Your answer here*

# Independent Activity: Creating a For Loop

Work through this next activity to create a `for` loop that will automatically merge files to create a new file.

**Step 1: Import CSV.**

You will need to import CSV to be able to work with these types of files.

In [ ]:
import csv

**Step 2: Set up the first statement to declare the output file.**

To do this, you will start `with open() as output-file-variable-name`

In [ ]:
with open("ClientData_1.csv") as f: # insert a variable name here

**Step 3: Create a nested 'with' statement for the first file.**

The next step is to create a nested `with` statement to open the first file. We will need to read in each line in the file. Fill in the below statement to understand how the open statement is created.

In [ ]:
# Insert the name of the first file in parentheses
with open("ClientData_1.csv") as f: 
  Lines = f.readlines()# replace the ... with a variable name or letter
  for Lines in f:
            f.write(line) # replace with variable from step 2

`for line in` is a `for` statement that will read each line in the document to write to the new file.

**Step 4: Write a nested 'with' statement for the second file.** 

This time, you will write the nested statement completely on your own. The only thing that should change is the file name, as you will be using ***ClientData_2.csv*** instead of ***ClientData_1.csv***.

In [ ]:
    with open("ClientData_2.csv") as outputfile:
      Lines = outputfile.readlines()
      for Lines in outputfile:
          outputfile.write(line)

In [ ]:
# Creating a list of filenames
filenames = ["ClientData_1.csv", "ClientData_2.csv"]
  
# Open file3 in write mode
with open("ClientData_3.csv", 'w') as outfile:
  
    # Iterate through list
    for names in filenames:
  
        # Open each file in read mode
        with open(names) as infile:
  
            # read the data from file1 and
            # file2 and write it in file3
            outfile.write(infile.read())
  
        # Add '\n' to enter data of file2
        # from next line
        outfile.write("\n")